@charset "utf-8";

/* 컨테이너 */
.container {
	width: 1080px;
    margin: 0 auto;
}

/* 배너 */
.banner{
	width: 100%;
	margin: 0 auto;
}

/* 섹션 */
.mainSection {
	width: 1080px;
	margin: 240px auto 100px;
}
.section {
    width: 1080px;
    margin: 150px auto 100px;
}

/* 타이틀 */
.titleWrap {
	padding:  70px 0 40px;
}
.mainTitle {
	font-size: 30px;
    font-weight: bold;
	color: #333;
	font-family: 'Sunflower', sans-serif;
}
.subTitle {
	font-size: 24px;
    padding: 0 0 30px;
	font-weight: 600;
	font-family: 'Sunflower', sans-serif;
}
.label {
	font-size: 16px;
	color: #333;
}
.titleLocation {
	font-size: 14px;
	color: #333;
	padding-left: 5px;
}



/* 디스플레이 */
.block {
	display: block;
}
.inline {
	display: inline;
}
.inlineBlock {
	display: inline-block;
}
.none {
	display: none;
}


/* 이미지 */
.imgWrap {
	width: 620px;
	margin: 0 auto;
}

/* 텍스트 정렬 */
.left {
	text-align: left;	
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.top {
	vertical-align: top;
}
.middle {
	vertical-align: middle;
}
.bottom {
	vertical-align: bottom;
}


/* 패딩 주기 */
.udPadding {
	padding: 15px 0;
}
.uPadding {
	padding: 15px 0 0;
}
.dPadding {
	padding: 0 0 15px;
}
.lrPadding {
	padding: 0 15px;
}
.lPadding {
	padding: 0 0 0 15px;
}
.rPadding {
	padding: 0 15px 0 0;
}


/* 마진 주기 */
.udMargin {
	padding: 15px 0;
}
.uMargin {
	padding: 15px 0 0;
}
.dMargin {
	padding: 0 0 15px;
}
.lrMargin {
	padding: 0 15px;
}
.lMargin {
	padding: 0 0 0 15px;
}
.rMargin {
	padding: 0 15px 0 0;
}


/* 패딩 없애기 */
.noPadding {
  padding: 0 !important;
}
.noTopPadding {
  padding-top: 0 !important;
}
.noBottomPadding {
  padding-bottom: 0 !important;
}
.noLeftPadding {
  padding-left: 0 !important;
}
.noRightPadding {
  padding-right: 0 !important;
}


/* 마진 없애기 */
.noMargin {
  margin: 0 !important;
}
.noTopMargin {
  margin-top: 0 !important;
}
.noBottomMargin {
  margin-bottom: 0 !important;
}
.noLeftMargin {
  margin-left: 0 !important;
}
.noRightMargin {
  margin-right: 0 !important;
}


/* 플루트 정렬 */
.overflow {
	overflow: hidden;
}
.fLeft{
	float: left;	
}
.fRight{
	float: right;	
}


/* 영역 */
.full {
	width: 100%;
	margin: 0 auto;
}
.half {
	width: 50%;
	margin: 0 auto;
}


/* 하이픈 */
.hyphen {
	font-size: 20px;
	margin: 10px;
}

/* pre */
.preWrap {
	padding: 15px 0 50px;
}
pre {
	/* 자동줄바꿈 */
	word-wrap: break-word; 
}
